/* Checkout container */
.checkout-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
  }
  
  /* Checkout item */
  .checkout-item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .checkout-image {
    height: 10vh;
    width: 15vw;
    border: 1px solid #ccc;
    margin-right: 20px;
  }
  
  .checkout-details {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
  }
  
  .item-name {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .item-address {
    font-size: 16px;
    color: black;
    margin-bottom: 5px;
  }
  
  .item-price {
    font-size: 16px;
    color:black;
  }
  
  /* Total amount */
  .total-amount {
    width: 90%;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    color: blue;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .checkout-item {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .checkout-image {
      width: 100%;
      margin: 10px 0;
    }
  
    .item-name {
      font-size: 16px;
    }
  
    .item-address,
    .item-price {
      font-size: 14px;
    }
  
    .total-amount {
      font-size: 18px;
    }
  }
  